/*
  Author:   Ross Malpass
  Email:    ross.malpass@gmail.com
*/

@import '../styles/variables.scss';
@import '../styles/posts.scss';

.page__activity {
  display: block;
  background: $color-white;

  .activity {
    @include css-grid;

    &__header,
    &__excerpt,
    &__data,
    &__chart,
    &__timeline,
    .post__content {
      grid-column: 2 / span 10;
    }

    &__hero {
      display: none;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include shadow-mega;
      }
      @include for-tablet-portrait-up {
        display: block;
        grid-column: 6 / span 7;
        grid-row: 1;
        height: 100vh;
        max-height: 62vh;
        margin-bottom: 56px;
      }
    }

    &__header {
      padding: $padding-lg 0;
      border-bottom: 4px solid $color-deep-blue;
      position: relative;
      align-self: flex-end;

      .btn__back {
        z-index: 99999;
        top: 20px;
        @include tag-text;
        font-size: 14px;
        color: $color-link;
        display: flex;
        align-items: center;
        font-weight: 900;
        border-radius: 4px;
        text-decoration: none;
        height: 40px;
        padding:0;
        margin: 0 0 24px -8px;
        background: $color-white;

        svg {
          @include animate(0.16s);
        }

        &:hover {
          background: $color-grey-1;
          svg {
            transform: translate(-4px,0);
          }
        }
      }

      h1 {
        font-family: $body-font;
        font-size: 24px;
        line-height: 40px;
        font-weight: 900;
        margin: 0;
        padding: 0 16px 0 0;
      }
      &.record {
        h1 {
          &:after {
            display: inline-block;
            content: 'Record';
            @include tag-text;
            background: $color-red;
            color: $color-white;
            margin: 0 0 0 4px;
            padding: 0 4px;
            border-radius: 2px;
            font-weight: 900;
            font-size: 12px;
            transform: translate(0,-4px);
            height: 24px;
            line-height: 24px;
            @include for-tablet-portrait-up {
              margin: 0 0 0 8px;
              padding: 0 8px;
              height: 32px;
              line-height: 32px;
              transform: translate(0,-8px);
            }
          }
        }
      }
      @include for-tablet-portrait-up {
        grid-column: 2 / span 4;
        grid-row: 1;
        border-bottom: 0;

        .btn__back {
          position: fixed;
          padding: 0 16px 0 8px;
          margin: 0 0 0 -16px;
        }

        h1 {
          font-size: 32px;
          line-height: 48px;
        }

        &:after {
          content: '';
          width: 50%;
          height: 8px;
          position: absolute;
          left: 0;
          bottom: 0;
          background: $color-deep-blue;
        }
      }
    }

    &__excerpt {
      color: $color-grey-4;
      margin-top: $padding-md;
      font-size: 16px;

      @include for-tablet-portrait-up {
        margin-top: $padding-lg;
        grid-column: 2 / span 3;
        grid-row: 2;
      }
    }

    &__data {
      margin: $padding-md 0;
      padding: 0;
      list-style: none;
      display: flex;
      @include for-tablet-portrait-up {
        margin: $padding-lg 0;
        grid-column: 2 / span 3;
        grid-row: 3;
      }
      li {
        flex: 1 0 50%;
        font-family: $headline-font;
        font-size: 24px;
        line-height: 32px;
      }
      strong {
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        font-size: 14px;
      }
    }

    &__timeline {

      @include for-tablet-portrait-up {
        position: sticky;
        top: 80px;
        margin: 8px 0 0 0;
        grid-column: 6 / span 2;
        grid-row: 2 / span 4;
        padding-top: $padding-lg;
        min-height: 100vh;
        overflow: scroll;
        border-right: 1px solid $color-grey-2;
        z-index: 99;
        backdrop-filter: blur(4px);
        align-self: flex-start;
        background: rgba($color-white,1);
        padding-left: 16px;

        ul {
          margin-bottom: 0;
          &:last-child {
            padding-bottom: 0 !important;
          }
        }
      }
    }

    &__chart {
      margin: 0;
      padding: 0;

      &.loading {
        z-index: 2;
        position: sticky;
        background: $color-grey-2;
        display: flex;
        align-items: center;
        min-height: 180px;
        &:after {
          @include tag-text;
          content: 'Loading data from Strava.';
          display: block;
          margin: auto;
          text-align: center;
          color: $color-grey-4;
        }
      }

      @include for-tablet-portrait-up {
        margin: $padding-lg 0 0 0;
        grid-column: 1 / span 5;
        grid-row: 4;
        height: $chartHeight;
        position: sticky;
        top: 80px;
      }
    }

    &__map {
      z-index: 2;
      position: sticky;
      top: 40px;
      height: 24vh;
      grid-column: 1 / span 12;
      @include shadow-3;

      &.loading {
        background: $color-grey-2;
      }

      @include for-tablet-portrait-up {
        margin: 0 0 0 16px;
        grid-column: 1 / span 5;
        grid-row: 5;
        height: calc((100vh - #{$chartHeight}) - 96px);
        top: calc(#{$chartHeight} + 80px);
        box-shadow: 0 0 0;
      }
    }
    .post__content {
      margin-top: $padding-lg;
      font-size: 16px;
      @include for-tablet-portrait-up {
        grid-column: 8 / span 5;
        grid-row: 2 / span 5;
        padding-right: $padding-md;
        padding-left: $padding-md;
      }
      .post__crew {
        color: $color-grey-3;
        span {
          display: block;
        }
      }
      footer {
        margin: 0 0 $padding-md 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        a, button {
          flex: 1 0 100%;
          margin: 4px 0;
          @include tag-text;
          color: $color-link;
          background: $color-grey-1;
          font-weight: 900;
          height: 48px;
          line-height: 48px;
          border-radius: $radius-sm;
          text-decoration: none;
          &:hover {
            background: $color-link;
            color: $color-white;
          }
        }
      }
    }
    &__share {
      width: 100%;
      border-top: 1px solid $color-grey-2;
      text-align: center;
      margin: $padding-md 0 0 0;

      a {
        @include tag-text;
        color: $color-link;
        text-decoration: none;
        display: inline-flex;
        padding: 0;
        margin: 16px;
        background: $color-link;
        width: 40px;
        height: 40px;
        align-items: center;
        color: $color-white;

        svg {
          margin: auto;
        }
      }
      @include for-tablet-portrait-up {
        border: 0;
        position: fixed;
        bottom: 0;
        right: 16px;
        width: auto;
        a {
          display: flex;
          border-radius: 4px;
          &:hover {
            color: $color-link;
            background: $color-grey-1;
          }
        }
      }
    }
    &.reverse {
      @include for-tablet-portrait-up {
        .activity__data {
          margin: $padding-md 0;
        }
        .activity__chart {
          grid-column: 8 / span 5;
          grid-row: 3;
        }
        .activity__excerpt {
          grid-column: 2 / span 5;
        }
        .activity__map {
          grid-column: 8 / span 5;
          grid-row: 4 / span 2;
        }
        .activity__timeline {
          grid-row: 3 / span 4;
          padding-top: 0;
        }
        .post__content {
          grid-column: 2 / span 4;
          grid-row: 4;
          margin: 0 0 $padding-md 0;
          padding: $padding-md 0;
          border-top: 1px solid $color-grey-2;
        }
      }
    }
  }
}
