/*
  Author:   Ross Malpass
  Email:    ross.malpass@gmail.com
*/

@import '../styles/variables.scss';

:global {
  .post-intro-large {
    font-size: 24px !important;
    line-height: 40px !important;
  }
}

.page__post {
  display: flex;
  flex-direction: column;
  border-top: 8px solid $color-deep-blue;

  // &:before {
  //   position: fixed;
  //   top: 0;
  //   right: 0;
  //   left: 0;
  //   height: 8px;
  //   z-index: 99;
  //   content: '';
  //   background: $color-deep-blue;
  //   background-image: radial-gradient(50% 100%, #FFBD55 0%, #EF472F 100%);
  // }

  @include for-desktop-up {
    flex-direction: row-reverse;
    // @include css-grid;
  }

  .post {
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;

    &.has_hero {
      padding-top: 12.5vw;
    }

    &__content__header {
      padding: 104px 0 0 0;
      img {
        display: block;
        margin: 0 auto 4rem auto;
        background: 0;
      }
      h1 {
        font-size: 40px;
        line-height: 56px;
        letter-spacing: 4.5px;
        text-align: center;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.32;
        margin: 0;
      }
    }

    img {
      width: auto;
      height: auto;
      align-self: flex-start;
    }

    &__hero {
      width: 25vw;
      height: 25vw;
      position: fixed;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      overflow: hidden;
      transition: all 0.16s ease-in-out;

      img {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      &:hover {
        z-index: 99;
        width: 50vw;
        height: calc(50vw / 16 * 9);
        top: 24px;
        border-radius: 0;
        transform: translate(-50%,0);
        @include shadow-mega;
      }
      &.scrolling {
        opacity: 0.08;
        transform: translate(-50%,-60%);
      }
    }

    &__content {
      width: 100%;
      max-width: 720px;
      margin: auto;
      padding: 0 24px;
      position: relative;

      &:after {
        position: fixed;
        top: 0;
        width: 100%;
        height: 8px;
        z-index: 99;
        content: '';
        background: $color-deep-blue;
      }

      p:first-child {
        font-size: 24px;
        line-height: 32px;
      }

      h2 {
        font-family: $headline-font;
        font-size: 32px;
        color: #0F111A;
        letter-spacing: 3.56px;
        text-transform: uppercase;
      }

      @include for-tablet-portrait-up {
        padding: 0 40px;
      }

      &__date {
        padding: 0;
        margin: 0 0 80px 0;
        color: $color-grey-4;
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: 'Source Sans Pro', sans-serif;
      }
    }

    &__comments {
      width: 100%;
      background: $color-grey-1;
      // max-width: 760px;
      margin: 40px 0 0 0;
      padding: 40px;
      grid-column: col / span 12;
    }
  }

  .sidebar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    display: none;

    @include for-desktop-up {
      position: sticky;
      top: 0;
      grid-column: col 2 / span 2;
      // height: 100vh;
      // min-height: 100vh;
    }

    &__about {
      max-width: 320px;
      padding: 0 24px 24px 24px;
      margin: 0 auto;
      position: relative;
      z-index: 2;

      img {
        display: block;
        margin: 24px auto;
        width: 128px;
        height: 128px;
        border-radius: 128px;
        @include shadow-mega;
        border: 4px solid $color-deep-blue;
      }
      &.hasMedia {
        img {
          margin-top: -32px;
        }
      }
      p {
        font-size: 14px;
        line-height: 24px;
        color: $color-grey-4;
      }
    }

    &__media {
      align-self: flex-start;
      border-bottom: 4px solid $color-deep-blue;
      position: relative;
      width: 100%;
      flex: 1 auto;
      display: none;

      &:after {
        transition: all 0.24s ease-in-out;
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        // background: rgba($color-deep-blue,0.24);
        // background-image: linear-gradient(-180deg, rgba($color-deep-blue,0), rgba($color-deep-blue,0.8));
      }
      // height: calc(25vw / 16 * 9);

      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__share {
      display: flex;
      align-self: flex-end;
      margin: auto 0 0 0;
      list-style: none;
      width: 100%;
      border-top: 1px solid $color-grey-2;
      li {
        display: block;
        margin: auto;
        font-family: $headline-font;
        flex: 1;
        text-align: center;
        a {
          display: block;
          padding: 8px;
          color: #fff;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 14px;
        }
        &:nth-child(2) {
          a {
            background: #00aced;
          }
        }
      }
    }
    &:hover {
      .sidebar__media {
        &:after {
          opacity: 0;
        }
      }
    }
  }
}
