/*
  Author:   Ross Malpass
  Email:    ross.malpass@gmail.com
*/

@import '../styles/variables.scss';

:global {
  .post-intro-large {
    p {
      font-size: 24px !important;
      line-height: 40px !important;
    }
  }
}

.page__post {
  display: flex;
  flex-direction: column;

  // &:before {
  //   position: fixed;
  //   top: 0;
  //   right: 0;
  //   left: 0;
  //   height: 8px;
  //   z-index: 99;
  //   content: '';
  //   background: $color-deep-blue;
  //   // background-image: radial-gradient(50% 100%, #FFBD55 0%, #EF472F 100%);
  // }

  @include for-desktop-up {
    flex-direction: row-reverse;
    // @include css-grid;
  }

  .post {
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;
    transition: all 0.16s ease-in-out;

    &.sidebar_active {
      padding-right: 38vw;
    }

    &.has_hero {
      padding-top: 37.5vw;
      @include for-tablet-portrait-up {
        padding-top: 0;
      }
    }

    &__content__header {
      padding: 88px 0 0 0;
      img {
        display: block;
        margin: 0 auto 4rem auto;
        background: 0;
      }
      h1 {
        font-size: 40px;
        line-height: 56px;
        letter-spacing: 4.5px;
        text-align: center;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.32;
        margin: 0;
      }
    }

    img {
      width: auto;
      height: auto;
      align-self: flex-start;
    }

    &__hero {
      z-index: 3;
      width: 120px;
      height: 120px;
      @include shadow-mega;
      bottom: 40px;
      right: 40px;
      position: fixed;
      border-radius: 100%;
      overflow: hidden;
      transition: all 0.24s ease-in-out;
      background: $color-deep-blue;

      &.sidebar_active {
        transform: rotate(-135deg) !important;
        &:hover {
          cursor: e-resize;
        }
        img {
          opacity: 0;
        }
      }

      svg {
        position: absolute;
        z-index: 9;
        top: 50%;
        left: 50%;
        transform: scale(1) translate(-50%, -50%);
        transition: all 0.16s ease-in-out;
      }

      &__img {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        object-fit: cover;
        width: 100% !important;
        height: 100% !important;
        transition: all 0.16s ease-in-out;
      }

      &:hover {
        // z-index: 99;
        // width: 50vw;
        // height: calc(50vw / 16 * 9);
        // border-radius: 0;
        img {
          opacity: 0.24;
        }
        svg {
          transform: scale(1.2) translate(-45%, -45%);
        }
        cursor: w-resize;
      }
      // &.scrolling {
      //   opacity: 0.08;
      //   transform: translate(-50%,-60%);
      // }
    }

    &__content {
      width: 100%;
      max-width: 768px;
      margin: auto;
      padding: 0 24px;
      position: relative;

      header {
        min-height: 75vh;
        display: flex;
        align-items: center;
        div {
          padding: 40px 0;
          margin: auto;
        }
      }

      // &:after {
      //   position: fixed;
      //   top: 0;
      //   width: 100%;
      //   height: 8px;
      //   z-index: 99;
      //   content: '';
      //   background: $color-deep-blue;
      // }

      h2, h3, h4 {
        font-family: $headline-font;
        font-size: 32px;
        color: #0F111A;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 8px;
      }
      h3 {
        font-size: 24px;
        letter-spacing: 1px;
      }
      h4 {
        font-size: 16px;
        letter-spacing: 1px;
      }

      @include for-tablet-portrait-up {
        padding: 0 40px;
      }

      &__categories {
        padding: 0;
        margin: 32px 0 0 0;
        color: $color-grey-3;
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;

        span {
          display: inline-block;
          margin: 0 8px;
        }
      }
    }

    &__info {
      display: flex;
      padding: 40px 0;

      p {
        margin: 0;
        font-size: 14px;
        line-height: 24px;
      }

      .author_info {
        border-top: 4px solid $color-deep-blue;
        padding-top: 24px;
        flex: 1 1 75%;
        h4 {
          margin: 0 0 8px 0;
        }
        h4 {
          text-transform: uppercase;
        }
      }
      .post_info {
        flex: 1 1 25%;
        margin-left: 16px;
        padding-top: 24px;
        border-top: 4px solid $color-grey-2;
        p {
          color: $color-grey-3;
        }
        span {
          display: inline-block;
          &:before {
            content: ' ';
            display: inline-block;
          }
          &:after {
            content: ', ';
          }
          &:last-child {
            &:after {
              content: '.';
            }
          }
        }
      }
    }


    &__comments {
      position: relative;
      z-index: 4;
      width: 100%;
      background: $color-grey-1;
      // max-width: 760px;
      margin: 40px 0 0 0;
      padding: 40px;
      grid-column: col / span 12;
    }
  }

  .sidebar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    width: 38vw;
    min-width: 375px;
    height: 100vh;
    z-index: 2;
    background: $color-yellow;
    transform: translate(100%, 0);
    transition: all 0.16s ease-in-out;
    overflow: auto;

    &__post_info {
      padding: 0 24px 24px 24px;

      ul {
        margin: 0;
        border-top: 4px solid $color-deep-blue;
        padding-top: 24px;
        display: flex;
        flex-direction: row;
        padding: 24px 0 0 0;
        list-style: none;
        flex-wrap: wrap;

        li {
          width: 50%;
          flex: 1 0 50%;
          padding: 0;
          margin: 0;
          a {
            font-size: 16px;
            font-family: $headline-font;
            text-transform: uppercase;
            line-height: 32px;
          }
        }
      }
      p {
        font-size: 16px;
      }
      span {
        display: inline-block;
        &:before {
          content: ' ';
          display: inline-block;
        }
        &:after {
          padding-right: 4px;
          content: ', ';
          display: inline-block;
        }
        &:last-child {
          &:before {
            content: ' and ';
            padding-right: 4px;
          }
          &:after {
            content: '.';
          }
        }
      }
    }

    &.active {
      border-left: 1px solid $color-grey-2;
      transform: translate(0, 0);
    }

    &__media {
      align-self: flex-start;
      position: relative;
      width: 100%;
      height: calc(38vw / 16 * 9);
      @include shadow-3;
      border-bottom: 8px solid $color-deep-blue;

      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__share {
      display: flex;
      align-self: flex-end;
      margin: auto 0 0 0;
      list-style: none;
      width: 100%;
      border-top: 1px solid $color-grey-2;
      li {
        display: block;
        margin: auto;
        font-family: $headline-font;
        flex: 1;
        text-align: center;
        a {
          display: block;
          padding: 8px;
          color: #fff;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 14px;
        }
        &:nth-child(2) {
          a {
            background: #00aced;
          }
        }
      }
    }
    &:hover {
      .sidebar__media {
        &:after {
          opacity: 0;
        }
      }
    }
  }
}
