/* Links */
a {
  text-decoration: underline;
  color: $color-deep-blue;
  transition: all 0.1s linear;

  &[data-link-external] {
    color: $color-link !important;
    &:before {
      content: '/ ';
    }
  }

  &:hover {
    text-decoration: none !important;
    // background: rgba(#000,0.04);
    // color: $color-link !important;
  }
}
