/* Color palette */
$color-black: #0F111A;
$color-white: #fff;
$color-deep-blue : #252A3D;
$color-red: #D71020;
$color-blue: #0064B0;
$color-pale-blue: #7EB9F7;
$color-green: #00AA54;
$color-yellow: #FFB800;
$color-grey-1: #F5F6FA;
$color-grey-2: #EAECF4;
$color-grey-3: #B6B7BF;
$color-grey-4: #676973;
$color-grey-5: #404352;

$color-primary: $color-blue;
$color-brand: $color-red;
$color-headline: $color-deep-blue;
$color-text: $color-grey-5;
$color-link: $color-blue;
$color-border: $color-grey-1;
$color-error: $color-red;

$headline-font: 'Source Sans Pro', sans-serif;
$body-font: 'Merriweather', sans-serif;

$max-width: 1440px;
$nav-breakpoint: 900px;
$radius-lg: 16px;
$radius-md: 8px;
$radius-sm: 4px;

$padding-sm: 8px;
$padding-md: 24px;
$padding-lg: 40px;

$col-sm: 19.2vw;
$col-lg: 18.4vw;
$gutter: 2vw;
$gutter-xs: $gutter / 2;
$gutter-sm: $gutter;
$gutter-md: $gutter-sm * 2;
$gutter-lg: $gutter-sm * 3;

// Apps
$height-sm: 61.8vh;
$height-lg: 61.8vh;

@import "breakpoints";

@mixin headline-text {
  font-size: 16px;
  line-height: 2;
  letter-spacing: normal;
  font-family: $body-font;
  margin: 16px 0;
}
@mixin title-text {
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $headline-font;
}
@mixin tag-text {
  color: $color-grey-3;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

@mixin content-block {
  display: flex;
  flex-wrap: wrap;
  //border-bottom: 8px solid $color-grey-1;
}

@mixin css-grid {
  display: grid;
  column-gap: 8px;
  row-gap: 0;
  @include for-tablet-portrait-up {
    column-gap: 16px;
  }
  grid-template-columns: repeat(12, [col] 4fr );
  grid-template-rows: auto;
}
@mixin css-grid-flexi {
  @include for-tablet-portrait-up {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content;
    grid-column-gap: $gutter-xs;
  }
  @include for-desktop-up {
    grid-column-gap: $gutter-sm;
  }
}

@mixin shadow-1 {
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
}
@mixin shadow-2 {
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.08);
}
@mixin shadow-3 {
  box-shadow: 0 2px 24px 0 rgba(0,0,0,0.08);
}
@mixin shadow-4 {
  box-shadow: 0 2px 32px 0 rgba(0,0,0,0.08);
}
@mixin shadow-mega {
  box-shadow: 0 16px 32px -4px rgba(0,0,0,0.08);
}

@mixin clearfix {
    &:before,
    &:after {
        content:" ";
        display:table;
    }
    &:after {
        clear:both;
    }
    & {
        *zoom:1;
    }
}

@mixin animate($sec) {
  -webkit-transition:all $sec linear;
  -moz-transition:all $sec linear;
  -o-transition:all $sec linear;
  -ms-transition:all $sec linear;
  transition:all $sec linear;
}
