@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|Source+Sans+Pro:400,900');

@import "forms";
@import "variables";
@import "text-styles";

:global {
  @import "mapbox";
}

// Sane starting points
html, body {
  padding: 0;
  // max-width: 1680px;
  position: relative;
  margin: 0 auto;
}
html {
  box-sizing: border-box;
  background: $color-white;
}

*, *:before, *:after {
  box-sizing: inherit;
}
* {-webkit-font-smoothing: antialiased;}

body {
  background: #fff;
  font-family: $body-font;
  -webkit-column-break-inside: avoid;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  &:hover {
    text-decoration: none;
  }
}

img {
  background: $color-grey-1;
}

.hidden {
  display: none;
}
