@import '../../styles/variables.scss';

.stickyMenu {
  height: 64px;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  text-align: right;
  // transform: translate(0, -100%);
  transition: transform 0.16s ease-in-out;
  z-index: 999;
  overflow: hidden;
  grid-column: col 1 / span 12;
  grid-row: 1;

  @include for-tablet-portrait-up {
    position: fixed;
    height: 80px;
  }

  &.sidebar {
    transition: all 0.08s linear;
    right: 38vw !important;
    @include for-tablet-portrait-up {
      display: flex;
    }
  }

  .btn__back {
    display: none;
  }

  &.hidden {
    position: fixed;
    right: 0;
    top: 0;
    height: 48px;
    transform: translate(0, -100%);
    background: rgba(#fff,0.98);
    border-bottom: 1px solid $color-grey-2;
    // border-left: 1px solid $color-grey-2;
    transition: all .5s ease-in-out;
    left: 0;

    .btn__back {
      position: absolute;
      top: 8px;
      left: 8px;
      display: block;
    }

    .title {
      left: 32px;
      right: 16px;
    }

    ul {
      display: none;
    }

    @include for-tablet-portrait-up {
      transform: translate(0, -100%);
      height: 80px;

      .btn__back {
        display: none;
      }
      .navigation {
        display: inherit;
      }
    }

    ul li {
      display: none;
      &:first-child {
        display: inherit;
      }
    }

    &:hover {
      ul {
        li {
          display: inherit;
          &:first-child {
            display: none;
          }
        }
      }
      .title {
        opacity: 0;
      }
    }
  }

  &.activity {
    position: fixed;
    right: 0;
    top: 24vh;
    height: 48px;

    .btn__back {
      position: absolute;
      top: 8px;
      left: 8px;
      display: block;
    }
    .title {
      left: 32px;
      right: 16px;
    }
    .navigation {
      display: none;
    }
    &.hidden {
      opacity: 0;
      transform: translate(0, 0);
    }
    &.active {
      opacity: 1;
    }

    @include for-tablet-portrait-up {
      transform: translate(0, -100%);
      right: 38vw;
      height: 80px;
      top: 0;

      .btn__back {
        display: none;
      }
      .navigation {
        display: inherit;
      }
    }
  }

  &.active {
    transform: translate(0, 0);
    // border-bottom: 1px solid $color-grey-2;
    // @include shadow-3;
    .wordmark {
      opacity: 1;
    }
    // ul {
    //   li {
    //     a {
    //       opacity: 0.24;
    //     }
    //   }
    // }
    // &:hover {
    //   ul {
    //     li {
    //       a {
    //         opacity: 1;
    //       }
    //     }
    //   }
    // }
  }

  .wordmark {
    position: relative;
    z-index: 3;
    text-align: center;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: all 0.16s ease-out;
    display: none;
    @include for-tablet-portrait-up {
      display: flex;
    }
    a {
      display: block;
      margin: auto;
    }
    img {
      background: 0;
      height: 32px;
      margin: auto 24px;
      display: block;
    }
  }

  .title {
    left: 56px;
    right: 56px;
    position: absolute;
    margin: auto 0;
    flex: 1;
    text-align: center;
    font-weight: 300;
    font-family: $headline-font;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.24s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 900;

    @include for-tablet-portrait-up {
      left: 200px !important;
      right: 200px !important;
    }
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 64px;
    align-items: center;
    // background: #fff;
    border-bottom: 1px solid $color-grey-1;
    width: 100%;

    @include for-tablet-portrait-up {
      width: auto;
      height: 80px;
      border: 0;
      margin: 0 16px 0 auto;
    }
  }
  li {
    position: relative;
    margin: 0 auto;
    @include for-tablet-portrait-up {
      margin: 0 8px 0 0;
    }

    &:first-child {
      display: none;
    }

    a {
      color: $color-deep-blue;
      line-height: 24px;
      padding: 0;
      margin: 0 8px;
      border-radius: $radius-lg;
      display: block;
      background: 0;
      font-family: 'Source Sans Pro', sans-serif;
      @include animate(0.16s);
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none !important;
      position: relative;
      // overflow-wrap: normal;
      // word-wrap: normal;
      // hyphens: none;
      font-size: 14px;

      &[aria-current]:not([aria-current="false"]) {
        &:before {
          content: '';
          position: absolute;
          bottom: -20px;
          left: 0;
          right: 0;
          height: 4px;
          background: $color-yellow;
        }
      }

      @include for-tablet-portrait-up {
        margin: 0 16px;
        font-size: 18px;
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: -4px;
          right: 4px;
          height: 50%;
          background: rgba($color-deep-blue,0.08);
          display: none;
        }
        &:after {
          z-index: -1;
          position: absolute;
          content: '';
          bottom: 0;
          left: -4px;
          right: calc(100% + 4px);
          height: 50%;
          background: $color-yellow;
          transition: all 0.16s ease-in-out;
        }
        &:hover, &[aria-current]:not([aria-current="false"]) {
          &:before {
            z-index: -2;
            display: none;
          }
          &:after {
            z-index: -1;
            right: 4px;
          }
          // color: $color-black;
          // background: $color-grey-1;
          // text-decoration: none;
        }
      }
    }
  }
}
