/*
  Author:   Ross Malpass
  Email:    ross.malpass@gmail.com
*/

@import '../../styles/variables.scss';

// Three Peaks & Hill climb
.homeFeature {
  position: relative;
  @include css-grid;

  img {
    margin: 0;
    padding: 0;
    display: block;
  }

  .img {
    grid-column: col 1 / span 12;
    margin: 0;

    @include for-tablet-portrait-up {
      transform: translate(0,-48px);
      grid-column: col 5 / span 8;
      grid-row: 1;
      @include shadow-mega;
    }

    @include for-desktop-up {
      grid-column: col 6 / span 7;
    }
  }

  &__header {
    grid-column: col 2 / span 10;
    border-top: 4px solid $color-deep-blue;

    @include for-tablet-portrait-up {
      grid-column: col 1 / span 6;
      grid-row: 1;
      text-align: right;
      max-width: 50%;

      h1, p {
        padding-left: 24px;
      }
    }

    @include for-desktop-up {
      grid-column: col 3 / span 4;
      h1,p {
        padding-left: 0;
      }
    }
    h1 {
      @include headline-text;
    }
    p {
      @include headline-body;
    }
  }

  &.reverse {
    .img {
      @include for-tablet-portrait-up {
        transform: translate(0,-48px);
        grid-column: col 1 / span 8;
        grid-row: 1;
        @include shadow-mega;
      }
    }
    .homeFeature__header {
      @include for-desktop-up {
        grid-column: col 10 / span 2;
        text-align: left;
        max-width: none;
      }
    }
  }
}
