/*
  Author:   Ross Malpass
  Email:    ross.malpass@gmail.com
*/

@import '../styles/variables.scss';

.page__fkt {

  @include css-grid;

  .hero {
    position: relative;
    padding: 80px 0;
    display: flex;
    grid-column: 2 / span 10;
    grid-row: 1;

    @include for-tablet-portrait-up {
      position: sticky;
      top: 0;
      padding: 0;
      grid-column: col 2 / span 4;
      height: 100vh;
    }

    header {
      display: flex;
      margin: auto;
      flex-direction: column;
      width: 100%;

      img {
        margin: 0;
        align-self: flex-start;
        background: 0;
      }

      h1 {
        align-self: flex-start;
        margin: 48px 0 24px 0;
        font-size: 32px;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 900;
        @include for-desktop-up {
          font-size: 40px;
          margin: 48px 0 40px 0;
        }
      }
      p {
        margin: 0 0 24px;
        @include for-tablet-portrait-up {
          font-size: 24px;
          line-height: 40px;
        }
      }
    }
  }

  .fkt__docs {
    margin: 0;
    padding: 0;
    list-style: none;
    grid-column: 2 / span 10;

    li {
      margin-bottom: 40px;

      a {
        text-decoration: none;
      }

      header {
        border-top: 4px solid $color-deep-blue;
        margin: 0 $padding-sm;

        h2 {
          @include headline-text;
          font-size: 18px;
        }
        p {
          font-size: 16px;
        }
      }
      footer {
        display: block;
        padding: 0 $padding-sm;
        ul {
          margin: 0;
          padding: 24px 0 0 0;
          list-style: none;
          li {
            flex: 1 0 33%;
            margin: 0;
            padding: 0;
            font-family: $headline-font;
            text-transform: uppercase;
            color: $color-grey-5;
            font-size: 16px;
            strong {
              display: block;
              line-height: 1;
            }
          }
        }
      }
    }

    @include for-tablet-portrait-up {
      grid-column: col 7 / span 5;
      padding-top: 16vh;

      li {
        header {
          margin: 0 $padding-lg;
        }
        footer {
          padding: 0 $padding-lg;
          ul {
            display: flex;
          }
        }
      }
    }
  }

  .fkt__content {
    grid-column: 2 / span 10;
    @include for-tablet-portrait-up {
      grid-column: col 3 / span 4;
    }
  }
}
