/*
  Author:   Ross Malpass
  Email:    ross.malpass@gmail.com
*/

@import '../styles/variables.scss';

.page__fkt {

  @include css-grid;

  .hero {
    position: relative;
    padding: 120px 0 0 0;
    display: flex;
    grid-column: 2 / span 10;
    grid-row: 1;

    @include for-tablet-portrait-up {
      position: sticky;
      top: 0;
      padding: 0;
      grid-column: col 2 / span 4;
      height: 100vh;
    }

    header {
      display: flex;
      margin: auto;
      flex-direction: column;
      width: 100%;

      img {
        margin: 0;
        align-self: flex-start;
        background: 0;
      }

      h1 {
        align-self: flex-start;
        margin: 48px 0 24px 0;
        font-size: 32px;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 900;
        @include for-desktop-up {
          font-size: 40px;
          margin: 48px 0 40px 0;
        }
      }
      p {
        margin: 0 0 24px;
        font-size: 18px;
        @include for-tablet-portrait-up {
          font-size: 20px;
          line-height: 40px;
        }
        .fkt {
          color: $color-red;
        }
      }
    }
  }

  .fkt__docs {
    margin: 0;
    padding: 0;
    list-style: none;
    grid-column: 1 / span 12;

    .fkt__card {
      position: relative;
      margin-bottom: 40px;
      // margin-bottom: 40px;
      // margin-top: 40px;
      // border-bottom: 1px solid $color-grey-2;
      //
      // &:before {
      //   content: '';
      //   position: absolute;
      //   top: -40px;
      //   left: 50%;
      //   width: 2px;
      //   background: $color-deep-blue;
      //   height: 40px;
      // }

      a {
        text-decoration: none;
      }

      header {
        position: relative;
        z-index: 2;
        border-top: 4px solid $color-deep-blue;
        margin: 0 $padding-lg;
        background: $color-white;
        @include animate(0.16s);

        h2 {
          @include headline-text;
        }
        p {
          @include headline-body;
          margin-top: 0;
        }
      }
      footer {
        @include animate(0.16s);
        display: block;
        margin: 0 $padding-lg;
        ul {
          margin: 0;
          padding: 24px 0 0 0;
          list-style: none;
          li {
            flex: 1 0 33%;
            margin: 0;
            padding: 0;
            font-family: $headline-font;
            text-transform: uppercase;
            color: $color-grey-5;
            font-size: 16px;
            strong {
              line-height: 1;
            }
          }
        }
      }

      &:hover {
        header {
          margin-top: -24px;
          padding: 0 $padding-md;
        }
        footer {
          padding: 0 $padding-md;
        }
      }
    }

    @include for-tablet-portrait-up {
      grid-column: col 7 / span 5;
      padding-top: 16vh;

      li {
        footer {
          ul {
            display: flex;
            li {
              strong {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  .fkt__content {
    grid-column: 2 / span 10;
    @include for-tablet-portrait-up {
      grid-column: col 3 / span 4;
    }
  }
}
