/*
  Author:   Ross Malpass
  Email:    ross.malpass@gmail.com
*/

@import '../styles/variables.scss';

.page__home {

  .hello {
    position: relative;
    @include css-grid;
    padding: 80px 0;

    @include for-tablet-portrait-up {
      height: calc(100vh - 64px);
      padding: 0;
    }

    .bouncyArrow {
      position: absolute;
      bottom: 64px;
      grid-column: col 12 / span 1;
      display: none;
      @include for-tablet-portrait-up {
        display: block;
      }
    }

    header {
      grid-column: 2 / span 10;
      grid-row: 1;
      display: flex;
      margin: auto;
      flex-direction: column;
      width: 100%;
      @include for-tablet-portrait-up {
        grid-column: col 3 / span 9;
      }

      img {
        margin: 0;
        align-self: flex-start;
        background: 0;
      }

      h1 {
        align-self: flex-start;
        margin: 48px 0 24px 0;
        font-size: 40px;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 900;
        @include for-desktop-up {
          font-size: 40px;
          margin: 48px 0 40px 0;
        }
      }
      p {
        margin: 0;
        @include for-tablet-portrait-up {
          font-size: 24px;
          line-height: 40px;
        }
        a {
          position: relative;
          display: inline-block;
          z-index: 1;
          &:after {
            z-index: -1;
            content: '';
            display: block;
            height: 0;
            position: absolute;
            left: 0;
            right: 100%;
            bottom: 0;
            height: 4px;
            background: $color-deep-blue;
            transition: all 0.16s ease-in-out;
          }
          &.ombori {
            &:after {
              background: $color-red;
            }
          }
          &:hover {
            &:after {
              right: 0;
            }
          }
        }
      }
      .ombori {
        color: $color-red !important;
        font-weight: bold;
      }
    }
  }

  // Three Peaks & Hill climb
  .threePeaks {
    position: relative;
    @include css-grid;

    img {
      grid-column: col 1 / span 12;
      margin: 0;

      @include for-tablet-portrait-up {
        transform: translate(0,-48px);
        grid-column: col 5 / span 8;
        grid-row: 1;
        @include shadow-mega;
      }

      @include for-desktop-up {
        grid-column: col 6 / span 7;
      }
    }

    &__header {
      grid-column: col 2 / span 10;
      border-top: 4px solid $color-deep-blue;

      @include for-tablet-portrait-up {
        grid-column: col 1 / span 6;
        grid-row: 1;
        text-align: right;
        max-width: 50%;

        h1, p {
          padding-left: 24px;
        }
      }

      @include for-desktop-up {
        grid-column: col 3 / span 4;
        h1,p {
          padding-left: 0;
        }
      }
      h1 {
        @include headline-text;
      }
      p {
        font-size: 14px;
        line-height: 24px;
        margin: 24px 0 0 0;
        color: $color-grey-4;
      }
    }
  }
}

// Archive posts
.archives {
  position: relative;
  @include css-grid;
  padding: 16vh 0;
  align-items: flex-start;

  aside {
    grid-column: 2 / span 10;
    grid-row: 1;
    flex-direction: column;
    width: 100%;
    @include for-tablet-portrait-up {
      position: sticky;
      grid-row: 1;
      grid-column: col 4 / span 5;
      border-top: 4px solid $color-deep-blue;
    }

    h2 {
      @include headline-text;
    }
  }
  ol {
    grid-column: 2 / span 10;
    grid-row: 2;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 100%;
    margin-left: -16px;
    @include for-tablet-portrait-up {
      grid-column: col 4 / span 5;
    }
    li {
      margin: 0 0 1.6rem 0;
      a {
        border: 1px solid $color-grey-2;
        border-radius: $radius-sm;
        display: block;
        padding: 8px 16px;
        margin-left: 16px;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        &:hover {
          @include shadow-mega;
          transform: translate(0,-4px);
          footer {
            color: $color-grey-4;
          }
        }
      }
      footer {
        border-top: 1px solid $color-grey-2;
        margin: 16px 0 0 0;
        padding: 16px 0 0 0;
        font-family: $headline-font;
        text-transform: uppercase;
        font-size: 14px;
        color: $color-grey-3;
      }
      h3 {
        @include title-text;
      }
    }
  }
}

// New Ground
.newGround {
  @include css-grid;
  position: relative;
  margin-top: 16vh;

 .background {
   height: 80vh;
   img {
     width: 100%;
     height: 100%;
     object-fit: cover;
   }
    @include for-desktop-up {
      grid-column: col 2 / span 10;
      background: grey;
    }
  }
  header {
    @include for-desktop-up {
      position: absolute;
      grid-column: col 8 / span 4;
      transform: translate(0,-25%);
    }

    h1 {
      @include headline-text;
      font-size: 80px;
      line-height: 88px;
      font-weight: bold;
    }
  }
}

// Timeline
.timeline {
  @include css-grid;
  position: relative;
  margin-top: 16vh;

  &__header {
    max-width: 25vw;
    width: 100%;
    border-top: 4px solid $color-deep-blue;

    @include for-tablet-portrait-up {
      margin-top: 40px;
      margin-left: $gutter-lg;
      padding-right: $gutter-sm;

      h1, p {
        max-width: 375px;
        text-align: right;
        padding-left: 24px;
      }
    }

    h1 {
      @include headline-text;
    }
    p,label {
      font-size: 14px;
      line-height: 24px;
      margin: 24px 0;
      color: $color-grey-4;
    }
    label {
      color: $color-link;
      font-weight: bold;
      display: block;
      margin: 0;
      text-align: right;
    }
  }

  &__year {
    padding: 0 $padding-lg;
    border-right: 1px solid $color-deep-blue;
    border-left: 1px solid $color-deep-blue;
    line-height: 48px;
    font-size: 24px;
    margin-top: 16px;
    margin-right: $padding-lg;
    font-weight: bold;
    // background: $color-deep-blue;
    // color: $color-grey-1;
    &:before {
      content: '';
      width: $padding-lg;
      height: 1px;
      background: $color-deep-blue;
      position: absolute;
      top: 40px;
      right: 0;
    }
  }

  &__content {
    grid-column: col 2 / span 10;
    display: flex;
    z-index: 2;

    @include for-desktop-up {
      background: #f9f9f9;
      padding: 0;
      grid-column: col 4 / span 6 !important;
    }
  }

  .card {
    // background: #fff;
    // @include shadow-mega;
    // border-radius: 16px;
    // max-width: 375px;
    // margin-right: 16px;
    // border: 1px solid $color-grey-1;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;

    // &.spacer {
    //   margin-left: $padding-lg;
    //   &:before {
    //     content: '';
    //     width: $padding-lg;
    //     height: 1px;
    //     background: $color-deep-blue;
    //     position: absolute;
    //     top: 40px;
    //     left: 0;
    //   }
    // }

    &__content {
      position: relative;
      background: #fff;
      max-width: 75vw;
      width: 75vw;
      margin: 0 16px;
      transition: all 0.16s ease-in-out;
      border: 1px solid $color-grey-2;
      border-radius: $radius-sm;

      @include for-tablet-portrait-up {
        width: auto;
        max-width: 320px;
        margin: 0;
        margin-right: $padding-lg;
      }
      .arrow {
        width: 2px;
        height: 32px;
        background: $color-deep-blue;
        display: block;
        position: absolute;
        bottom: 16px;
        right: 8px;
        transform: rotate(-90deg);
        transition: all 0.16s ease-in-out;

        &:before, &:after {
          position: absolute;
          bottom: -4px;
          width: 2px;
          height: 16px;
          content: '';
          background: $color-deep-blue;
          border-radius: 2px;
        }
        &:before {
          left: 50%;
          transform: translate(4px, 0) rotate(45deg);
        }
        &:after {
          right: 50%;
          transform: translate(-4px, 0) rotate(-45deg);
        }
      }

      &__media {
        width: 100%;
        height: 75vw;
        display: block;
        transition: all 0.16s ease-in-out;
        padding: 16px 16px 0 16px;

        @include for-tablet-portrait-up {
          height: 320px;
        }

        img {
          transition: all 0.16s ease-in-out;
          width: 100%;
          height: 100%;
          object-fit: cover;
          margin: 0;
          filter:grayscale(72%);
        }
      }
    }

    &__tags {
      margin: 0;
      padding: 0;
      display: flex;
      font-size: 14px;
      border-top: 1px solid $color-grey-1;
      padding-top: 8px;

      li {
        background: $color-grey-1;
        color: $color-grey-3;
        margin: 0 0 8px 8px;
        list-style: none;
        padding: 0 8px;
        height: 24px;
        line-height: 24px;
        border-radius: 2px;
      }
    }

    &__date {
      width: 100%;
      display: block;
      border-bottom: 1px solid $color-black;
      margin-bottom: 16px;
      position: relative;
      padding-right: 40px;

      p {
        margin: 0 0 8px 0;
        text-align: center;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: calc(50% - 24px);
        transform: translate(-50%, 0);
        width: 8px;
        height: 8px;
        border-radius: 8px;
        z-index: 2;
        background: $color-black;
      }
    }

    a {
      text-decoration: none;
    }
    p {
      font-size: 16px;
    }
    h2 {
      padding: 24px;
      font-size: 16px;
      line-height: 1.4;
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      // transform: translate(0, 50%);
    }
    &:hover {
      .card__content {
        // background: $color-yellow;
        @include shadow-mega;
        transform: translate(0,-4px);
        // box-shadow: 0px 8px 24px rgba(13,13,18,0.1);
        .arrow {
          right: 32px;
        }
        &__media {
          padding: 8px 8px 0 8px;
          img {
            // transform: rotate(4deg);
            // box-shadow: 0px 8px 24px rgba(13,13,18,0.1);
            filter:grayscale(0%);
          }
        }
      }
    }
  }

  &__posts {
    grid-column: col / span 12;
    grid-row: 2;
    z-index: 2;
    @include for-desktop-up {
      padding: 32px 0;
    }
  }

  &__bg {
    grid-column: col / span 12;
    grid-row: 1 / span 2;
    background: #eee url('http://rossmalpass.co.uk/wp-content/themes/rm/static/img/new-hero.jpg') 0 bottom no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;

    @include for-desktop-up {
      grid-column: col 4 / span 6 !important;
      grid-row: 1 / span 2;

    }
  }
}
